.Bidoof {
    font-size: 50px;
    background-color: #0F0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-width: 100px;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.Code {
    font-size: 20px;
    background-color: #111;
    max-width: 100%;
    min-width: 100px;
    overflow-x: auto;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.Image {
    min-width: 256px;
    object-fit: contain;
}

.Images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Link {
    color: blue;
    text-decoration: underline;
    font-size: 3rem;
}