.ErrorBoundary {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}
.ErrorBoundary h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.ErrorMessage p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.ErrorMessage pre {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow: scroll;
    padding-bottom: 1rem;
    color: white;
}

.ErrorMessage {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}
.ErrorMessage h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}